.cardsArticle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}

.cardArticle {
  width: 596px;
  height: 630px;
  flex-shrink: 0;
  background: url(../../assets/images/vacum.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.cardArticle2 {
  width: 596px;
  height: 630px;
  flex-shrink: 0;
  background: url(../../assets/images/clean-electroncs.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.cardAr {
  margin-left: 30px;
  margin-top: 305px;
  width: 536px;
  height: 324px;
  flex-shrink: 0;
  border-radius: 24px;
  border: 1px solid #eff0f6;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(20, 20, 43, 0.04);
  padding-left: 50px;
}

p {
  color: #6e7191;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.006px; /* 142.886% */
  margin: 0 0 10px;
}

.bottomAr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h6 {
  color: #211f54;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.998px; /* 111.1% */
}

span {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  background: #0075ff;
  margin-right: 50px;
}
