.navbar {
  padding: 32px 0;
  display: flex;
  align-items: center;
  gap: 40px;
}

ul {
  list-style: none;
  display: flex;
  gap: 22px;
}

ul li a {
  text-decoration: none;
  color: #211f54;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.006px; /* 166.7% */
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 25px;
}
